<%= form_for(@project) do |f| %>

  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="hero-unit">
  <div class="field">
    <%= f.label :project_id, "Project ID"%>
    <%= f.number_field :project_id %>
  </div>
  <br />
  <div class="field">
    <%= f.label :title, "Project title"%>
    <%= f.text_field :title %>
  </div>
  <br />
  <div class="field">
    <%= f.label :title_orig_lang, "Project title in original language" %>
    <%= f.text_field :title_orig_lang %>
  </div>
  <br />
  <div class="field">
    <%= f.label :summary %>
    <%= f.text_area :summary%>
  </div>
  <br />
  <div class="field">
    <%= f.label :channel %>
    <%= f.text_field :channel %>
  </div>
  <br />
  <div class="field">
    <%= f.label :amount, "Commitment Amount (euro)"%>
    <%= f.number_field :amount %>
  </div>
  <br />
  <div class="field">
    <%= f.label :implementer %>
    <%= f.text_field :implementer %>
  </div>
  <br />
  <div class="field">
    <%= f.label :cluster %>
    <%= f.text_field :cluster %>
  </div>
  <br />
  <div class="field">
    <%= f.label :npp, "NPP" %>
    <%= f.text_field :npp %>
  </div>
  <br />
  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>
  <br />
  <div class="field">
    <%= f.label :provinces %>
    <%= f.text_field :provinces %>
  </div>
  <div>
    <%=f.label :locations, "Mappable Locations"%>
    <ul class="checkbox-grid">
    <% for location in Location.find(:all) %>
      <li>
        <%= check_box_tag "project[location_ids][]", location.id, @project.locations.include?(location) %>
        <%= location.name %>
    <% end %>
    </ul>
  </div>
  <br />
  <div class="field">
    <%= f.label :start_date, "Starting date"%> 
    <!--<%= f.date_select :start_date%>-->
    <%= f.text_field :start_date, :class => 'datepicker'%>
 </div>
  <br />
  <div class="field">
    <%= f.label :end_date, "Ending date"%>
<!--<%= f.date_select :end_date%>-->
  <%= f.text_field :end_date, :class => 'datepicker'%>
  </div>
  <br />
  <div class="field">
    <%= f.label :objective %>
    <%= f.text_area :objective %>
  </div>
  <br />
  <div class="field">
    <%= f.label :results, "Results / Activities" %>
    <%= f.text_area :results %>
  </div>

  </br>
  </br>
  <div class="actions">
    <%= f.submit %>
  </div>
</div><!-- form -->
<% end %>
