<p id="notice"><%= notice %></p>


<h2><%= @project.title %></h2>

<p>
  <b>Project ID:</b>
  <%= @project.project_id %>
</p>

<p>
  <b>Project title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Project title in original language:</b>
  <%= @project.title_orig_lang %>
</p>

<p>
  <b>Summary:</b>
  <%= @project.summary %>
</p>

<p>
  <b>Channel:</b>
  <%= @project.channel %>
</p>

<p>
  <b>Commitment Amount (euro):</b>
  <%= @project.amount %>
</p>

<p>
  <b>Implementer:</b>
  <%= @project.implementer %>
</p>

<p>
  <b>Cluster:</b>
  <%= @project.cluster %>
</p>

<p>
  <b>NPP:</b>
  <%= @project.npp %>
</p>

<p>
  <b>Status:</b>
  <%= @project.status %>
</p>

<p>
  <b>Provinces:</b>
  <%= @project.provinces %>
</p>

<p>
  <b>Starting date:</b>
  <%= @project.start_date.strftime("%d/%m/%Y") %>
</p>

<p>
  <b>Ending date:</b>
  <%= @project.end_date.strftime("%d/%m/%Y") %>
</p>

<p>
  <b>Objective:</b>
  <%= @project.objective %>
</p>

<p>
  <b>Results/Activities:</b>
  <%= @project.results %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
