<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="hero-unit">
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :country %>
    <%= f.text_field :country %>
  </div>
    <br />
    <div> - Google Maps will set the following parameters automatically (if empty) - </div>
    <br />
    <div class="field">
     <%= f.label :latitude %>
      <%= f.text_field :latitude %>
   </div>
    <div class="field">
      <%= f.label :longitude %>
      <%= f.text_field :longitude %>
    </div>
    </div>
  <br />
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
