<p id="notice"><%= notice %></p>

<h1><%= @location.name %></h1>

<div class="hero-unit">
<table class="table table-condensed table-bordered">
  <tr>
    <th>Name</th>
    <th>State</th>
    <th>Projects</th>
  </tr>


  <tr>
    <td><%= @location.name %></td>
    <td><%= @location.state %></td>
    <td><%= @location.projects.length%></td>
  </tr>

</table>

<div class="center">
<div id="map_canvas">
  <%= gmaps("markers" => {"data" => @json}, "map_options" => {"processing" => "json", "auto_zoom" => false, "zoom" => 6}) %>
</div>
</div>

<br />
<br />
<h4 align='center'>Projects in <%= @location.name %></h4>

  <%= render 'listprojloc' %>

</div>

<% if user_signed_in? %>
<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Delete', @location, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>