<div id="sidebar">
  <span class="article-sidebar-title">
      <h4>Menù</h4>
      <hr />
  </span>
  <ul class="nav">
    <li class="active"><a <%=link_to "Home", root_path%> </a> </li>
    <li><a> <%=link_to "All Projects", projects_path%> </a></li>
    <li><a> <%=link_to "All Locations", locations_path%> </a></li>
    <% if user_signed_in? %>
    <li><a> <%=link_to "New Location", new_location_path%> </a></li>
    <li><a> <%=link_to "New Project", new_project_path%> </a></li>
    <li><a> <%= link_to "Users", users_path %> </a></li>
    <% end %>
  </ul>
</div>