<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span2">
            <%= render 'layouts/sidebar'%>
          </div>
          <div class="span10">
            <%= render 'layouts/messages' %>
            <%= yield %>
            <%= yield :scripts %>
            <%= render 'layouts/footer' %>
          </div>
        </div> <!--row-fluid -->
      </div>
    </div>
  </body>
</html>